#art {
    margin-top: 20em ;
}


#move {
    margin-top: 10em;
}

#box{
    background-color: grey;
    padding: 50px;
    margin: 20px;
    height: 600px;
    opacity: 0.85;
}

#box2{
    margin: 10px;
    padding: 20px;
    background-color: lightskyblue;
    opacity: 0.8;
    
}

#text{
    margin: 20px;
}

.graph_container{
    display:block;
    width:600px;
  }




